@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee+Inline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee+Inline&family=Carme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee+Inline&family=Carme&family=Grand+Hotel&display=swap");
body {
  min-height: 100vh;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.recipe {
  /* border: 2px solid red; */
}
.logo {
  /* border: 2px solid red; */
  margin-right: 5%;
}

.recipeclass .recipeinput {
  /* border: 2px solid red; */
  min-height: 5vh;
  min-width: 30vw;
}
.recipeclass .recipebutton {
  min-height: 5vh;
  color: rgb(250, 129, 16);
  background-color: rgb(77, 73, 73);
  border: 1px solid rgb(189, 186, 186);
  border-radius: 5px 5px 5px 5px;
}
.recipeclass {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}
.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.title {
  font-family: "Bungee Inline", cursive;
  font-weight: 100;
}
.ol {
  font-family: "Carme", sans-serif;
}
.pp {
  color: rgb(216, 158, 12);
}
